
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg-mob.jpg);
    background-color: var(--bcg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mob2x.jpg);
}
    @media screen and(min-width:480) {
      max-width: 480px;
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bg-tab.jpg);
      @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-tab2x.jpg);
}


    }
    
    

    @media screen and(min-width:768px) {
      max-width: 780px;
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bkd.jpg);
      @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bkd2x.jpg);
}

    

    }
    @media screen and(min-width:1200px) {
      padding-top: 118px;
      padding-bottom: 118px;
      max-width: 1600px;
    
    }
  }
  
  .hero__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-color);
  }